from Tkinter import *
import sys
import os
class GUI(Frame):
    def __init__(self, master):
        Frame.__init__(self, master)
        self.master=master

    def miniGUI(self):
        l01 = Label(self.master, text="1\n 1")
        l01.grid(row=0, column=1, sticky=W)
        l02 = Label(self.master, text="2")
        l02.grid(row=0, column=2, sticky=W)
        l03 = Label(self.master, text="2")
        l03.grid(row=0, column=3, sticky=W)
        l04 = Label(self.master, text="1\n 1")
        l04.grid(row=0, column=4, sticky=W)

        l10 = Label(self.master, text="1 1")
        l10.grid(row=1, column=0, sticky=W)
        cVar11 = IntVar()
        c11 = Checkbutton(self.master, variable=cVar11)
        c11.grid(row=1, column=1, sticky=W)
        cVar12 = IntVar()
        c12 = Checkbutton(self.master, variable=cVar12)
        c12.grid(row=1, column=2, sticky=W)
        cVar13 = IntVar()
        c13 = Checkbutton(self.master, variable=cVar13)
        c13.grid(row=1, column=3, sticky=W)
        cVar14 = IntVar()
        c14 = Checkbutton(self.master, variable=cVar14)
        c14.grid(row=1, column=4, sticky=W)

        l20 = Label(self.master, text="2")
        l20.grid(row=2, column=0, sticky=W)
        cVar21 = IntVar()
        c21 = Checkbutton(self.master, variable=cVar21)
        c21.grid(row=2, column=1, sticky=W)
        cVar22 = IntVar()
        c22 = Checkbutton(self.master, variable=cVar22)
        c22.grid(row=2, column=2, sticky=W)
        cVar23 = IntVar()
        c23 = Checkbutton(self.master, variable=cVar23)
        c23.grid(row=2, column=3, sticky=W)
        cVar24 = IntVar()
        c24 = Checkbutton(self.master, variable=cVar24)
        c24.grid(row=2, column=4, sticky=W)

        l30 = Label(self.master, text="2")
        l30.grid(row=3, column=0, sticky=W)
        cVar31 = IntVar()
        c31 = Checkbutton(self.master, variable=cVar31)
        c31.grid(row=3, column=1, sticky=W)
        cVar32 = IntVar()
        c32 = Checkbutton(self.master, variable=cVar32)
        c32.grid(row=3, column=2, sticky=W)
        cVar33 = IntVar()
        c33 = Checkbutton(self.master, variable=cVar33)
        c33.grid(row=3, column=3, sticky=W)
        cVar34 = IntVar()
        c34 = Checkbutton(self.master, variable=cVar34)
        c34.grid(row=3, column=4, sticky=W)

        l40 = Label(self.master, text="1 1")
        l40.grid(row=4, column=0, sticky=W)
        cVar41 = IntVar()
        c41 = Checkbutton(self.master, variable=cVar41)
        c41.grid(row=4, column=1, sticky=W)
        cVar42 = IntVar()
        c42 = Checkbutton(self.master, variable=cVar42)
        c42.grid(row=4, column=2, sticky=W)
        cVar43 = IntVar()
        c43 = Checkbutton(self.master, variable=cVar43)
        c43.grid(row=4, column=3, sticky=W)
        cVar44 = IntVar()
        c44 = Checkbutton(self.master, variable=cVar44)
        c44.grid(row=4, column=4, sticky=W)

        def Reset():
            os.execl(sys.executable, sys.executable, *sys.argv)
            
        def Check():
            if (cVar11.get()and not cVar12.get() and not cVar13.get() and cVar14.get() and not\
                cVar21.get()and cVar22.get() and cVar23.get() and not cVar24.get() and not\
                cVar31.get()and cVar32.get() and cVar33.get() and not cVar34.get() and\
                cVar41.get()and not cVar42.get() and not cVar43.get() and cVar44.get()):
               labelSolution.config(text = "Correct")
            else:
                labelSolution.config(text = "Solution is not correct")
                
            
            
        checkSolution = Button(self.master, text= "Check Solution", command=Check)
        checkSolution.grid(row=7, column=7, sticky=W)
        labelSolution = Label(self.master, text= "")
        labelSolution.grid(row=8, column=7, sticky=W)
        reset = Button(self.master, text = "Restart", command = Reset)
        reset.grid(row = 9, column = 7, sticky = W)
                    
    def smallGUI(self):
        #c00 = Label(self.master, text="1")
        #c00.grid(row=0, column=0, sticky=W)
        l01 = Label(self.master, text=" 2")
        l01.grid(row=0, column=1, sticky=W)
        l02 = Label(self.master, text=" 5")
        l02.grid(row=0, column=2, sticky=W)
        l03 = Label(self.master, text=" 1\n 2")
        l03.grid(row=0, column=3, sticky=W)
        l04 = Label(self.master, text=" 2")
        l04.grid(row=0, column=4, sticky=W)
        l05 = Label(self.master, text=" 2\n 1\n 1")
        l05.grid(row=0, column=5, sticky=W)
        l06 = Label(self.master, text=" 5")
        l06.grid(row=0, column=6, sticky=W)

        
        
        l10 = Label(self.master, text=" 3 2")
        l10.grid(row=1, column=0, sticky=W)
        cVar11 = IntVar()
        c11 = Checkbutton(self.master, variable=cVar11)
        c11.grid(row=1, column=1, sticky=W)
        cVar12 = IntVar()
        c12 = Checkbutton(self.master, variable=cVar12)
        c12.grid(row=1, column=2, sticky=W)
        cVar13 = IntVar()
        c13 = Checkbutton(self.master, variable=cVar13)
        c13.grid(row=1, column=3, sticky=W)
        cVar14 = IntVar()
        c14 = Checkbutton(self.master, variable=cVar14)
        c14.grid(row=1, column=4, sticky=W)
        cVar15 = IntVar()
        c15 = Checkbutton(self.master, variable=cVar15)
        c15.grid(row=1, column=5, sticky=W)
        cVar16 = IntVar()
        c16 = Checkbutton(self.master, variable=cVar16)
        c16.grid(row=1, column=6, sticky=W)
        

        l20 = Label(self.master, text="2 2")
        l20.grid(row=2, column=0, sticky=W)
        cVar21 = IntVar()
        c21 = Checkbutton(self.master, variable=cVar21)
        c21.grid(row=2, column=1, sticky=W)
        cVar22 = IntVar()
        c22 = Checkbutton(self.master, variable=cVar22)
        c22.grid(row=2, column=2, sticky=W)
        cVar23 = IntVar()
        c23 = Checkbutton(self.master, variable=cVar23)
        c23.grid(row=2, column=3, sticky=W)
        cVar24 = IntVar()
        c24 = Checkbutton(self.master, variable=cVar24)
        c24.grid(row=2, column=4, sticky=W)
        cVar25 = IntVar()
        c25 = Checkbutton(self.master, variable=cVar25)
        c25.grid(row=2, column=5, sticky=W)
        cVar26 = IntVar()
        c26 = Checkbutton(self.master, variable=cVar26)
        c26.grid(row=2, column=6, sticky=W)
      

        l30 = Label(self.master, text="1 1 1")
        l30.grid(row=3, column=0, sticky=W)
        cVar31 = IntVar()
        c31 = Checkbutton(self.master, variable=cVar31)
        c31.grid(row=3, column=1, sticky=W)
        cVar32 = IntVar()
        c32 = Checkbutton(self.master, variable=cVar32)
        c32.grid(row=3, column=2, sticky=W)
        cVar33 = IntVar()
        c33 = Checkbutton(self.master, variable=cVar33)
        c33.grid(row=3, column=3, sticky=W)
        cVar34 = IntVar()
        c34 = Checkbutton(self.master, variable=cVar34)
        c34.grid(row=3, column=4, sticky=W)
        cVar35 = IntVar()
        c35 = Checkbutton(self.master, variable=cVar35)
        c35.grid(row=3, column=5, sticky=W)
        cVar36 = IntVar()
        c36 = Checkbutton(self.master, variable=cVar36)
        c36.grid(row=3, column=6, sticky=W)
       

        l40 = Label(self.master, text="1 3")
        l40.grid(row=4, column=0, sticky=W)
        cVar41 = IntVar()
        c41 = Checkbutton(self.master, variable=cVar41)
        c41.grid(row=4, column=1, sticky=W)
        cVar42 = IntVar()
        c42 = Checkbutton(self.master, variable=cVar42)
        c42.grid(row=4, column=2, sticky=W)
        cVar43 = IntVar()
        c43 = Checkbutton(self.master, variable=cVar43)
        c43.grid(row=4, column=3, sticky=W)
        cVar44 = IntVar()
        c44 = Checkbutton(self.master, variable=cVar44)
        c44.grid(row=4, column=4, sticky=W)
        cVar45 = IntVar()
        c45 = Checkbutton(self.master, variable=cVar45)
        c45.grid(row=4, column=5, sticky=W)
        cVar46 = IntVar()
        c46 = Checkbutton(self.master, variable=cVar46)
        c46.grid(row=4, column=6, sticky=W)
        

        l50 = Label(self.master, text="2 1")
        l50.grid(row=5, column=0, sticky=W)
        cVar51 = IntVar()
        c51 = Checkbutton(self.master, variable=cVar51)
        c51.grid(row=5, column=1, sticky=W)
        cVar52 = IntVar()
        c52 = Checkbutton(self.master, variable=cVar52)
        c52.grid(row=5, column=2, sticky=W)
        cVar53 = IntVar()
        c53 = Checkbutton(self.master, variable=cVar53)
        c53.grid(row=5, column=3, sticky=W)
        cVar54 = IntVar()
        c54 = Checkbutton(self.master, variable=cVar54)
        c54.grid(row=5, column=4, sticky=W)
        cVar55 = IntVar()
        c55 = Checkbutton(self.master, variable=cVar55)
        c55.grid(row=5, column=5, sticky=W)
        cVar56 = IntVar()
        c56 = Checkbutton(self.master, variable=cVar56)
        c56.grid(row=5, column=6, sticky=W)
        
        
        l60 = Label(self.master, text="1 1")
        l60.grid(row=6, column=0, sticky=W)
        cVar61 = IntVar()
        c61 = Checkbutton(self.master, variable=cVar61)
        c61.grid(row=6, column=1, sticky=W)
        cVar62 = IntVar()
        c62 = Checkbutton(self.master, variable=cVar62)
        c62.grid(row=6, column=2, sticky=W)
        cVar63 = IntVar()
        c63 = Checkbutton(self.master, variable=cVar63)
        c63.grid(row=6, column=3, sticky=W)
        cVar64 = IntVar()
        c64 = Checkbutton(self.master, variable=cVar64)
        c64.grid(row=6, column=4, sticky=W)
        cVar65 = IntVar()
        c65 = Checkbutton(self.master, variable=cVar65)
        c65.grid(row=6, column=5, sticky=W)
        cVar66 = IntVar()
        c66 = Checkbutton(self.master, variable=cVar66)
        c66.grid(row=6, column=6, sticky=W)

        def Reset():
            os.execl(sys.executable, sys.executable, *sys.argv)
        def Check():
            if (cVar11.get()and cVar12.get()and cVar13.get()and not cVar14.get() and cVar15.get() and cVar16.get() and\
               cVar21.get()and cVar22.get()and not cVar23.get()and not cVar24.get() and cVar25.get()and cVar26.get()and not\
               cVar31.get()and cVar32.get()and not cVar33.get()and cVar34.get()and not cVar35.get()and cVar36.get()and not\
               cVar41.get()and cVar42.get()and not cVar43.get()and cVar44.get()and cVar45.get()and cVar46.get()and not\
               cVar51.get()and cVar52.get()and cVar53.get()and not cVar54.get()and not cVar55.get()and cVar56.get() and not\
               cVar61.get()and not cVar62.get() and cVar63.get() and not cVar64.get() and cVar65.get() and not cVar66.get()):
               labelSolution.config(text = "Correct")
            else:
                labelSolution.config(text = "Solution is not correct")
                
            
            
        checkSolution = Button(self.master, text= "Check Solution", command=Check)
        checkSolution.grid(row=7, column=7, sticky=W)
        labelSolution = Label(self.master, text= "")
        labelSolution.grid(row=8, column=7, sticky=W)
        reset = Button(self.master, text = "Restart", command = Reset)
        reset.grid(row = 9, column = 7, sticky = W)

    def bigGUI(self):
        #c00 = Label(self.master, text="1")
        #c00.grid(row=0, column=0, sticky=W)
        l01 = Label(self.master, text=" 1\n 1\n 1")
        l01.grid(row=0, column=1, sticky=W)
        l02 = Label(self.master, text=" 5")
        l02.grid(row=0, column=2, sticky=W)
        l03 = Label(self.master, text=" 1\n 1\n 1 ")
        l03.grid(row=0, column=3, sticky=W)
        l04 = Label(self.master, text=" 1\n 1\n 2")
        l04.grid(row=0, column=4, sticky=W)
        l05 = Label(self.master, text=" 2\n 3\n 1")
        l05.grid(row=0, column=5, sticky=W)
        l06 = Label(self.master, text=" 2")
        l06.grid(row=0, column=6, sticky=W)
        l07 = Label(self.master, text=" 1\n 3\n 1")
        l07.grid(row=0, column=7, sticky=W)
        l08 = Label(self.master, text=" 1\n 2\n 1")
        l08.grid(row=0, column=8, sticky=W)
        
        l10 = Label(self.master, text="1 1 2")
        l10.grid(row=1, column=0, sticky=W)
        cVar11 = IntVar()
        c11 = Checkbutton(self.master, variable = cVar11)
        c11.grid(row=1, column=1, sticky=W)
        cVar12 = IntVar()
        c12 = Checkbutton(self.master, variable = cVar12)
        c12.grid(row=1, column=2, sticky=W)
        cVar13 = IntVar()
        c13 = Checkbutton(self.master, variable = cVar13)
        c13.grid(row=1, column=3, sticky=W)
        cVar14 = IntVar()
        c14 = Checkbutton(self.master, variable = cVar14)
        c14.grid(row=1, column=4, sticky=W)
        cVar15 = IntVar()
        c15 = Checkbutton(self.master, variable = cVar15)
        c15.grid(row=1, column=5, sticky=W)
        cVar16 = IntVar()
        c16 = Checkbutton(self.master, variable = cVar16)
        c16.grid(row=1, column=6, sticky=W)
        cVar17 = IntVar()
        c17 = Checkbutton(self.master, variable = cVar17)
        c17.grid(row=1, column=7, sticky=W)
        cVar18 = IntVar()
        c18 = Checkbutton(self.master, variable = cVar18)
        c18.grid(row=1, column=8, sticky=W)
        
        l20 = Label(self.master, text="5")
        l20.grid(row=2, column=0, sticky=W)
        cVar21 = IntVar()
        c21 = Checkbutton(self.master, variable = cVar21)
        c21.grid(row=2, column=1, sticky=W)
        cVar22 = IntVar()
        c22 = Checkbutton(self.master, variable = cVar22)
        c22.grid(row=2, column=2, sticky=W)
        cVar23 = IntVar()
        c23 = Checkbutton(self.master, variable = cVar23)
        c23.grid(row=2, column=3, sticky=W)
        cVar24 = IntVar()
        c24 = Checkbutton(self.master, variable = cVar24)
        c24.grid(row=2, column=4, sticky=W)
        cVar25 = IntVar()
        c25 = Checkbutton(self.master, variable = cVar25)
        c25.grid(row=2, column=5, sticky=W)
        cVar26 = IntVar()
        c26 = Checkbutton(self.master, variable = cVar26)
        c26.grid(row=2, column=6, sticky=W)
        cVar27 = IntVar()
        c27 = Checkbutton(self.master, variable = cVar27)
        c27.grid(row=2, column=7, sticky=W)
        cVar28 = IntVar()
        c28 = Checkbutton(self.master, variable = cVar28)
        c28.grid(row=2, column=8, sticky=W)
        
        l30 = Label(self.master, text="2 2")
        l30.grid(row=3, column=0, sticky=W)
        cVar31 = IntVar()
        c31 = Checkbutton(self.master, variable = cVar31)
        c31.grid(row=3, column=1, sticky=W)
        cVar32 = IntVar()
        c32 = Checkbutton(self.master, variable = cVar32)
        c32.grid(row=3, column=2, sticky=W)
        cVar33 = IntVar()
        c33 = Checkbutton(self.master, variable = cVar33)
        c33.grid(row=3, column=3, sticky=W)
        cVar34 = IntVar()
        c34 = Checkbutton(self.master, variable = cVar34)
        c34.grid(row=3, column=4, sticky=W)
        cVar35 = IntVar()
        c35 = Checkbutton(self.master, variable = cVar35)
        c35.grid(row=3, column=5, sticky=W)
        cVar36 = IntVar()
        c36 = Checkbutton(self.master, variable = cVar36)
        c36.grid(row=3, column=6, sticky=W)
        cVar37 = IntVar()
        c37 = Checkbutton(self.master, variable = cVar37)
        c37.grid(row=3, column=7, sticky=W)
        cVar38 = IntVar()
        c38 = Checkbutton(self.master, variable = cVar38)
        c38.grid(row=3, column=8, sticky=W)
        
        l40 = Label(self.master, text="4 2")
        l40.grid(row=4, column=0, sticky=W)
        cVar41 = IntVar()
        c41 = Checkbutton(self.master, variable = cVar41)
        c41.grid(row=4, column=1, sticky=W)
        cVar42 = IntVar()
        c42 = Checkbutton(self.master, variable = cVar42)
        c42.grid(row=4, column=2, sticky=W)
        cVar43 = IntVar()
        c43 = Checkbutton(self.master, variable = cVar43)
        c43.grid(row=4, column=3, sticky=W)
        cVar44 = IntVar()
        c44 = Checkbutton(self.master, variable = cVar44)
        c44.grid(row=4, column=4, sticky=W)
        cVar45 = IntVar()
        c45 = Checkbutton(self.master, variable = cVar45)
        c45.grid(row=4, column=5, sticky=W)
        cVar46 = IntVar()
        c46 = Checkbutton(self.master, variable = cVar46)
        c46.grid(row=4, column=6, sticky=W)
        cVar47 = IntVar()
        c47 = Checkbutton(self.master, variable = cVar47)
        c47.grid(row=4, column=7, sticky=W)
        cVar48 = IntVar()
        c48 = Checkbutton(self.master, variable = cVar48)
        c48.grid(row=4, column=8, sticky=W)
        
        l50 = Label(self.master, text="1 1 2")
        l50.grid(row=5, column=0, sticky=W)
        cVar51 = IntVar()
        c51 = Checkbutton(self.master, variable = cVar51)
        c51.grid(row=5, column=1, sticky=W)
        cVar52 = IntVar()
        c52 = Checkbutton(self.master, variable = cVar52)
        c52.grid(row=5, column=2, sticky=W)
        cVar53 = IntVar()
        c53 = Checkbutton(self.master, variable = cVar53)
        c53.grid(row=5, column=3, sticky=W)
        cVar54 = IntVar()
        c54 = Checkbutton(self.master, variable = cVar54)
        c54.grid(row=5, column=4, sticky=W)
        cVar55 = IntVar()
        c55 = Checkbutton(self.master, variable = cVar55)
        c55.grid(row=5, column=5, sticky=W)
        cVar56 = IntVar()
        c56 = Checkbutton(self.master, variable = cVar56)
        c56.grid(row=5, column=6, sticky=W)
        cVar57 = IntVar()
        c57 = Checkbutton(self.master, variable = cVar57)
        c57.grid(row=5, column=7, sticky=W)
        cVar58 = IntVar()
        c58 = Checkbutton(self.master, variable = cVar58)
        c58.grid(row=5, column=8, sticky=W)
        
        l60 = Label(self.master, text="2 1")
        l60.grid(row=6, column=0, sticky=W)
        cVar61 = IntVar()
        c61 = Checkbutton(self.master, variable = cVar61)
        c61.grid(row=6, column=1, sticky=W)
        cVar62 = IntVar()
        c62 = Checkbutton(self.master, variable = cVar62)
        c62.grid(row=6, column=2, sticky=W)
        cVar63 = IntVar()
        c63 = Checkbutton(self.master, variable = cVar63)
        c63.grid(row=6, column=3, sticky=W)
        cVar64 = IntVar()
        c64 = Checkbutton(self.master, variable = cVar64)
        c64.grid(row=6, column=4, sticky=W)
        cVar65 = IntVar()
        c65 = Checkbutton(self.master, variable = cVar65)
        c65.grid(row=6, column=5, sticky=W)
        cVar66 = IntVar()
        c66 = Checkbutton(self.master, variable = cVar66)
        c66.grid(row=6, column=6, sticky=W)
        cVar67 = IntVar()
        c67 = Checkbutton(self.master, variable = cVar67)
        c67.grid(row=6, column=7, sticky=W)
        cVar68 = IntVar()
        c68 = Checkbutton(self.master, variable = cVar68)
        c68.grid(row=6, column=8, sticky=W)
        
        l70 = Label(self.master, text="1 2")
        l70.grid(row=7, column=0, sticky=W)
        cVar71 = IntVar()
        c71 = Checkbutton(self.master, variable = cVar71)
        c71.grid(row=7, column=1, sticky=W)
        cVar72 = IntVar()
        c72 = Checkbutton(self.master, variable = cVar72)
        c72.grid(row=7, column=2, sticky=W)
        cVar73 = IntVar()
        c73 = Checkbutton(self.master, variable = cVar73)
        c73.grid(row=7, column=3, sticky=W)
        cVar74 = IntVar()
        c74 = Checkbutton(self.master, variable = cVar74)
        c74.grid(row=7, column=4, sticky=W)
        cVar75 = IntVar()
        c75 = Checkbutton(self.master, variable = cVar75)
        c75.grid(row=7, column=5, sticky=W)
        cVar76 = IntVar()
        c76 = Checkbutton(self.master, variable = cVar76)
        c76.grid(row=7, column=6, sticky=W)
        cVar77 = IntVar()
        c77 = Checkbutton(self.master, variable = cVar77)
        c77.grid(row=7, column=7, sticky=W)
        cVar78 = IntVar()
        c78 = Checkbutton(self.master, variable = cVar78)
        c78.grid(row=7, column=8, sticky=W)
        
        l80 = Label(self.master, text="3")
        l80.grid(row=8, column=0, sticky=W)
        cVar81 = IntVar()
        c81 = Checkbutton(self.master, variable = cVar81)
        c81.grid(row=8, column=1, sticky=W)
        cVar82 = IntVar()
        c82 = Checkbutton(self.master, variable = cVar82)
        c82.grid(row=8, column=2, sticky=W)
        cVar83 = IntVar()
        c83 = Checkbutton(self.master, variable = cVar83)
        c83.grid(row=8, column=3, sticky=W)
        cVar84 = IntVar()
        c84 = Checkbutton(self.master, variable = cVar84)
        c84.grid(row=8, column=4, sticky=W)
        cVar85 = IntVar()
        c85 = Checkbutton(self.master, variable = cVar85)
        c85.grid(row=8, column=5, sticky=W)
        cVar86 = IntVar()
        c86 = Checkbutton(self.master, variable = cVar86)
        c86.grid(row=8, column=6, sticky=W)
        cVar87 = IntVar()
        c87 = Checkbutton(self.master, variable = cVar87)
        c87.grid(row=8, column=7, sticky=W)
        cVar88 = IntVar()
        c88 = Checkbutton(self.master, variable = cVar88)
        c88.grid(row=8, column=8, sticky=W)

        def Reset():
            os.execl(sys.executable, sys.executable, *sys.argv)
       
        def Check():
            if(cVar11.get()and not cVar12.get() and not cVar13.get() and not cVar14.get()and cVar15.get()and not cVar16.get() and cVar17.get()and cVar18.get()and not \
               cVar21.get()and cVar22.get()and cVar23.get()and cVar24.get()and cVar25.get()and cVar26.get()and not cVar27.get()and not cVar28.get()and\
               cVar31.get()and cVar32.get()and not cVar33.get()and not cVar34.get()and not cVar35.get() and cVar36.get()and cVar37.get()and not cVar38.get() and not\
               cVar41.get()and cVar42.get()and cVar43.get()and cVar44.get()and cVar45.get()and not cVar46.get()and cVar47.get()and cVar48.get()and not\
               cVar51.get()and cVar52.get()and not cVar53.get()and not cVar54.get()and cVar55.get()and not cVar56.get()and cVar57.get()and cVar58.get()and\
               cVar61.get()and cVar62.get()and not cVar63.get()and not cVar64.get()and cVar65.get()and not cVar66.get() and not cVar67.get()and not cVar68.get() and not\
               cVar71.get()and not cVar72.get()and not cVar73.get()and cVar74.get()and not cVar75.get()and not cVar76.get() and cVar77.get()and cVar78.get()and not\
               cVar81.get()and not cVar82.get() and cVar83.get()and cVar84.get()and cVar85.get()and not cVar86.get()and not cVar87.get() and not cVar88.get()):
                labelSolution.config(text = "Correct")
            else:
                labelSolution.config(text = "Solution is not correct")
        checkSolution = Button(self.master, text= "Check Solution", command=Check)
        checkSolution.grid(row=9, column=9, sticky=W)
        labelSolution = Label(self.master, text= "")
        labelSolution.grid(row=10, column=9, sticky=W)
        reset = Button(self.master, text = "Restart", command = Reset)
        reset.grid(row = 11, column = 9, sticky = W)
        
        
        
window = Tk()
gui = GUI(window)

def theSmallGui():
    smalls.destroy()
    bigs.destroy()
    greeting.destroy()
    gui.smallGUI()
    mini.destroy()

def theMiniGui():
    smalls.destroy()
    bigs.destroy()
    mini.destroy()
    greeting.destroy()
    gui.miniGUI()
    
greeting = Label(gui.master, text= "Select difficulty level below")
greeting.grid(row=0, column=0, sticky=W)

mini = Button(gui.master, text = "Easy        ", command = theMiniGui)
mini.grid(row =1 , column = 0, sticky = W)
smalls = Button(gui.master, text="Medium ", command = theSmallGui)
smalls.grid(row=2, column=0, sticky=W)

def theBigGui():
    bigs.destroy()
    smalls.destroy()
    greeting.destroy()
    mini.destroy()
    gui.bigGUI()
    
bigs = Button(gui.master, text="Hard       ", command = theBigGui)
bigs.grid(row=3, column=0, sticky=W)

window.mainloop()

